// when not install sass server the use [npm install scss and sass -w scss/main.scss{from} assets/css/custom.css{to}]
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";

@import "./utilities/bootstrap-api-utilities";

//Custom colors
$custom-colors: (
  "appstore": #54a8c7,
  "playstore": #45c4a0,
);

$theme-colors: map-merge($theme-colors, $custom-colors); //add to boostrap
//////////////////////
///custome-fonts///
.font-Poppins {
  font-family: Poppins;
}
.font-Inter {
  font-family: Inter;
}
.display-webkit-box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines to show */
}

.login-form {
  .login-input {
    letter-spacing: 0.3px;
    &::-webkit-input-placeholder {
      color: rgba(93, 197, 196, 0.5);
      opacity: 50%;
    }
  }
  &::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
////////
.message-form {
  .message-input {
    letter-spacing: 1px;
    &::-webkit-input-placeholder {
      color: white;
    }
  }
}
.background-styles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-address-bg {
  background: lightgray 50% / cover no-repeat;
}
.iframe-radius-desktop {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.iframe-radius-mobile {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
}
.cursor-pointer {
  cursor: pointer;
}
@import "../node_modules/bootstrap/scss/bootstrap";
