//scss function
@mixin CustomeHeaderStyle(
  $color,
  $family,
  $weight,
  $size,
  $style,
  $lineheight,
  $padding: 0,
  $display: flex,
  $justify-content: center,
  $align-items: center,
  $height: 0,

  $border-radius: 0,
  $background: none
) {
  color: $color !important;
  font-family: $family !important;
  font-weight: $weight !important;
  font-size: $size !important;
  font-style: $style;
  padding: $padding;
  line-height: $lineheight;
  display: $display !important;
  justify-content: $justify-content !important;
  align-items: $align-items !important;
  height: $height;
  border-radius: $border-radius;
  $background: $background;
}

.navmanu {
  @include CustomeHeaderStyle(#000, Poppins, 600, 22px, normal, normal);
}

#header-login {
  @include CustomeHeaderStyle(#0e42c8, Poppins, 600, 22px, normal, normal);
  flex-wrap: nowrap;
}
.header-howdoi {
  @include CustomeHeaderStyle(
    #000,
    Poppins,
    600,
    22px,
    normal,
    normal,
    $padding: 20px,
    $height: 40px,

    $border-radius: 30px,
    $background: #0085ff
  );

  h4 {
    @include CustomeHeaderStyle(#000, Poppins, 600, 20px, normal, normal);
  }
}

//Smartphone
@media screen and (max-width: 767px) {
  .app-logo {
    svg {
      width: 4rem;
    }
    img {
      width: 9rem;
    }
  }
}
@media screen and (max-width: 350px) {
  .app-logo {
    svg {
      width: 3rem;
    }
    img {
      width: 7rem;
    }
  }
}
