//scss function
@mixin CustomeHeaderStyle(
  $color,
  $family,
  $weight,
  $size,
  $style,
  $lineheight,
  $padding: 0,
  $display: flex,
  $justify-content: center,
  $align-items: center,
  $height: 0,

  $border-radius: 0,
  $background: none
) {
  color: $color !important;
  font-family: $family !important;
  font-weight: $weight !important;
  font-size: $size !important;
  font-style: $style;
  padding: $padding;
  line-height: $lineheight;
  display: $display !important;
  justify-content: $justify-content !important;
  align-items: $align-items !important;
  height: $height;
  border-radius: $border-radius;
  $background: $background;
}

.navmanu {
  @include CustomeHeaderStyle(
    #000,
    Poppins,
    600,
    clamp(15px, 1.5vw, 20px),
    normal,
    normal
  );
  flex-wrap: nowrap;
}

#header-login {
  @include CustomeHeaderStyle(
    #0e42c8,
    Poppins,
    600,
    clamp(15px, 1.5vw, 20px),
    normal,
    normal
  );
  flex-wrap: nowrap;
}
.header-howdoi {
  @include CustomeHeaderStyle(
    #000,
    Poppins,
    600,
    clamp(15px, 1.5vw, 20px),
    normal,
    normal,
    $padding: 20px,
    $height: 40px,

    $border-radius: 30px,
    $background: #0085ff
  );

  h4 {
    @include CustomeHeaderStyle(
      #000,
      Poppins,
      600,
      clamp(15px, 1.5vw, 20px),
      normal,
      normal
    );
    flex-wrap: nowrap;
  }
}

//Smartphone
@media screen and (max-width: 767px) {
  .nave-body {
    gap: 3rem !important;
  }

  .app-logo {
    svg {
      width: 4rem;
    }
    img {
      width: 9rem;
    }
  }
}
@media screen and (min-width: 200px) {
  .nave-body {
    gap: 3rem !important;
  }

  .app-logo {
    svg {
      width: 2.5rem;
    }
    img {
      width: 6.3rem;
    }
  }
}
//tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .nave-body {
    gap: 4rem !important;
    .navmanu {
      font-size: clamp(20px, 3vw, 30px) !important;
    }
    #header-login {
      font-size: clamp(20px, 3vw, 30px);
    }
    .header-howdoi {
      h4 {
        font-size: clamp(20px, 3vw, 30px);
      }
    }
  }
}
//desktop
@media screen and (min-width: 1023px) {
}
