@mixin Custom-width-hight($width, $height) {
  height: $height;
  width: $width;
}
@mixin Custome-address-style(
  $text-align,
  $font-weight,
  $line-height,
  $font-size
) {
  color: #4b4b4b;
  text-align: $text-align;
  font-family: Inter;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  font-size: $font-size;
}

.Address-card-container {
  > div:first-child {
    @include Custom-width-hight(100%, 366px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assert/image22.png");
  }
  > div:nth-child(2) {
    @include Custom-width-hight(75%, auto);

    border-radius: 30px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    margin-top: -6%;
    background: lightgray 50% / cover no-repeat;
  }
  iframe {
    @include Custom-width-hight(50%, 26rem);

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  // > div:nth-child(2) div:nth-child(1) {
  //   // display: grid;

  //   // @include Custom-width-hight(70%, auto);
  //   // grid-template-columns: repeat(1, 1fr);
  //   // grid-gap: 10rem;
  // }
  h6 {
    @include Custome-address-style(start, 500, 40.1px, clamp(10px, 7vw, 30px));
  }
  p {
    @include Custome-address-style(left, 400, 0, clamp(10px, 5vw, 23px));
  }
}

//Smartphone
@media screen and (max-width: 767px) {
  .map-continer {
    display: flex;
    flex-direction: column;
    width: 90% !important;
    margin-top: -30% !important;
    iframe {
      @include Custom-width-hight(100%, 17rem);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 0px;
    }
  }
}

//tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .map-continer {
    display: flex;
    flex-direction: column;

    margin-top: -12%;
    iframe {
      @include Custom-width-hight(100%, 20rem);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 0px;
    }
  }
}
//desktop
@media screen and (min-width: 1023px) {
}
