.user-reviews-container {
  // width: 90% !important;
  h2 {
    font-family: Inter;
    font-size: clamp(20px, 5vw, 40px);
    margin-top: 5%;
    font-weight: 700;
  }
  .user-reviews-card {
    width: 80% !important;
    flex-shrink: 0;
    border-radius: 30px;
    height: fit-content !important;
    border: 1px solid #33ceff;
    background: #e5e5e5;
    overflow: hidden;
  }
  .review-slider {
    width: 90%;
    padding: 30px 10px 30px 10px;
  }
  p {
    color: #5d5d5d;
    width: 97%;
    font-family: Inter;
    line-height: 1.8rem;
    height: 9rem;
    font-size: 20px;
    font-style: normal;
    text-align: start;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }
  h6 {
    font-family: Inter;
    // font-size: clamp(15px, 5vw, 20px);
    font-size: 20px;
    font-weight: 600;
    line-height: 26.63px;
    text-align: left;
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .review-slider {
    width: 100% !important;
  }
}
