.family-img-continer h2 {
  color: #595959;
  font-family: Poppins;
  font-size: clamp(25px, 3vw, 40px);
  font-style: normal;
  width: 100%;
  text-align: center;
  font-weight: 800;
  line-height: normal;
}

.family-img-continer img {
  width: 100%;
  height: 24rem;
}
.family-img-continer div p {
  color: #3a3a3a;
  position: absolute;
  margin-top: 8vh;
  font-family: Inter;
  font-size: clamp(18px, 3vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
// .family-img-continer div {
//   display: flex;
//   position: relative;
//   align-items: center;
//   width: 100%;
//   justify-content: center;
// }
.about-info-content {
  width: 60%;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.about-info-content h2 {
  color: #656565;
  font-family: Inter;
  font-size: clamp(31px, 4vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4vh;
}
.about-info-content p {
  color: #464646;
  font-family: Inter;
  font-size: clamp(18px, 3vw, 24px);

  width: 95%;
  font-style: normal;
  font-weight: 400;
  margin-top: 4vh;
  line-height: normal;
}
.listitems {
  color: gray;
  font-family: Inter;
  font-size: clamp(14px, 3vw, 22px);
  font-style: normal;
  font-weight: 500;
  width: 93%;
  padding: 10px;
  line-height: normal;
}
.about-main-continer {
  width: 100%;

  margin-top: 10vh;
  align-items: flex-start;
  display: flex;
}

.main-img2-d3 {
  margin-top: -9vh;
  width: 214.441px;
  height: 184.238px;

  margin-left: 7.3vh;
}
.design-img2 {
  margin-top: -22%;
  margin-right: 45%;
}

//Smartphone
@media screen and (max-width: 767px) {
  .about-design-image img {
    display: none;
  }
  .about-info-content {
    width: 100%;
  }
  .about-main-continer #about-round-eclipse {
    display: none;
  }
  .family-img-continer img {
    width: 100%;
    height: 12rem;
  }
}
//tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .about-design-image img {
    display: none;
  }
  .about-info-content {
    width: 100%;
  }
}
//desktop
@media screen and (min-width: 1023px) {
}
