.views-slider-container {
  h2 {
    color: #595959;
    font-family: Poppins;
    font-size: clamp(20px, 5vw, 40px);
    font-weight: 800;
    letter-spacing: 0.5px;
  }

  .image-slider {
    width: 90%;
  }

  .image-slider-bottam-design {
    margin-top: -7%;

    div {
      margin-top: 6%;
      height: 8rem;
      background: linear-gradient(80deg, #0072d4 -1.77%, #60cac6 116.2%);

      p {
        font-family: Poppins;
        font-size: clamp(12px, 3.5vw, 20px);
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
}

.add-persion {
  width: 461px;
  height: auto;
  gap: 3vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px;
  background: linear-gradient(
    90.24deg,
    #60cac6 8.05%,
    rgba(17, 21, 21, 0) 122.15%
  );
}

.addpersion-input {
  width: 234px;
  height: 40px;

  border-radius: 30px;
  background: #d9d9d9;
}

.addpersion-submit {
  background: linear-gradient(90deg, #78c1c2 0%, #2a4e8c 100%);
  width: 233px;
  height: 44px;
  top: 601px;
  left: 603px;
  border-radius: 30px;
}
