@mixin Custome-fonts($font-size, $color, $font-weight, $font-family: Poppins) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
  font-family: $font-family;
}

.message-form-container {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.83);
  padding: 53px 50px 53px 80px;
  width: 60%;
  margin-top: 10%;
  > div:first-child {
    h3 {
      @include Custome-fonts(clamp(20px, 3vw, 30px), #fff, 600);
    }
    p {
      @include Custome-fonts(clamp(12px, 2vw, 20px), #b9b9b9, 400);
      line-height: 28.64px;
    }
  }
  .contact-form-container {
    h3 {
      @include Custome-fonts(
        clamp(17px, 2vw, 24px),
        #fff,
        700,
        $font-family: Inter
      );
    }
    .message-input {
      @include Custome-fonts(
        clamp(10px, 3.5vw, 18px),
        white !important,
        500,
        $font-family: Poppins
      );
      height: 40px;
      padding: 10px 10px 10px 20px;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
      &::-webkit-input-placeholder {
        @include Custome-fonts(
          clamp(10px, 3.5vw, 18px),
          white !important,
          500,
          $font-family: Poppins
        );
      }
    }
    .message-textarea {
      @include Custome-fonts(
        clamp(10px, 3.5vw, 18px),
        white !important,
        500,
        $font-family: Poppins
      );
      padding: 10px 10px 10px 20px;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);

      &::-webkit-input-placeholder {
        @include Custome-fonts(
          clamp(10px, 3.5vw, 18px),
          white !important,
          500,
          $font-family: Poppins
        );
      }
    }
    .message-submit {
      @include Custome-fonts(
        clamp(11px, 4vw, 15px),
        #fff,
        500,
        $font-family: Poppins
      );
      margin-top: 6%;
      height: 40px;
      border-radius: 10px;
      background: linear-gradient(106deg, #c961de 24.79%, #2954a3 71.87%);
      box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
    }
  }
}

//Smartphone

@media screen and (max-width: 991.98px) {
  .message-form-container {
    padding: 20px 30px 20px 30px;
    width: 70%;
    .contact-form-logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//tablet
@media screen and (min-width: 767px) and (max-width: 1024px) {
}
//desktop
@media screen and (min-width: 1023px) {
}
