.App {
  text-align: center;
}

#progress {
  position: fixed;

  bottom: 20px;
  right: 2%;
  z-index: 2;
  width: 60px;

  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  padding: 10%;
  display: grid;
  place-items: center;

  font-weight: bolder;
  color: rgba(84, 168, 199, 0.7);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
.message-form {
  .message-input {
    letter-spacing: 1px;

    /* WebKit-based browsers (Chrome, Safari) */
    &::-webkit-input-placeholder {
      color: white;
    }

    /* Mozilla Firefox */
    &::-moz-placeholder {
      color: white;
    }

    /* Internet Explorer */
    &:-ms-input-placeholder {
      color: white;
    }

    /* Standard syntax for modern browsers */
    &::placeholder {
      color: white;
    }
  }
}
.login-form {
  .login-input {
    letter-spacing: 0.3px;

    /* WebKit-based browsers (Chrome, Safari) */
    &::-webkit-input-placeholder {
      color: rgba(93, 197, 196, 0.5);
      opacity: 50%;
    }

    /* Mozilla Firefox */
    &::-moz-placeholder {
      color: rgba(93, 197, 196, 0.5);
      opacity: 50%;
    }

    /* Internet Explorer */
    &:-ms-input-placeholder {
      color: rgba(93, 197, 196, 0.5);
      opacity: 50%;
    }

    /* Standard syntax for modern browsers */
    &::placeholder {
      color: rgba(93, 197, 196, 0.5);
      opacity: 50%;
    }
  }

  /* WebKit-based browsers (Chrome, Safari) */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
