.App {
  text-align: center;
}

#progress {
  position: fixed;

  bottom: 20px;
  right: 2%;
  z-index: 2;
  width: 60px;

  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  padding: 10%;
  display: grid;
  place-items: center;

  font-weight: bolder;
  color: rgba(84, 168, 199, 0.7);
}
