// .getherly-app-demo-video {
//   width: 70%;
//   object-fit: contain;
// }
// //Smartphone
.getherly-logo {
  border-radius: 20px;
  object-fit: cover;
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 767px) {
  .getherly-logo {
    width: 80% !important;
    height: 100% !important;
  }
}
// //tablet
// @media screen and (min-width: 767px) and (max-width: 1023px) {
//   .getherly-app-demo-video {
//     width: 60%;
//   }
// }
// //desktop
// @media screen and (min-width: 1023px) {
// }
