@mixin CustomImgStyle($Top, $margin-right) {
  position: absolute;
  z-index: -1;
  top: $Top;
  margin-right: $margin-right;
}

@mixin CustomPosition($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin Custome-Fonts-and-style($font-weight, $font-size, $color) {
  font-family: Poppins;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.login-continer-main {
  > img:first-child {
    @include CustomImgStyle(25%, 60%);
  }

  .img-child3 {
    @include CustomImgStyle(10%, -45%);
  }

  .img-child4 {
    @include CustomImgStyle(45%, -60%);
  }

  > img:nth-child(2) {
    @include CustomImgStyle(80%, 60%);
  }
}

.login-form-continer {
  @include CustomPosition($justify-content: space-around);
  width: 32%;
  flex-direction: column;
  height: 600px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #33ceff;

  background: linear-gradient(180deg, #00463e 0.18%, #595959 150.98%);

  h2 {
    @include Custome-Fonts-and-style(600, clamp(20px, 5vw, 30px), #fff);
    padding: 10px;

    text-align: center;
  }

  p {
    @include Custome-Fonts-and-style(400, clamp(14px, 5vw, 20px), #b9b9b9);
    text-align: center;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
  }

  .login-form {
    width: 80%;

    .login-input {
      padding-left: 45px;

      @include CustomPosition();
      height: 44px;
      flex-shrink: 0;
      border-radius: 22px;
      border: 1px solid #5dc5c4;
      background: transparent;
      @include Custome-Fonts-and-style(400, clamp(14px, 5vw, 20px), white);

      letter-spacing: 0.3px;

      &::-webkit-input-placeholder {
        color: rgba(93, 197, 196, 0.5);
        opacity: 50%;
      }
    }

    &::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .login-lable1 {
    @include CustomPosition($align-items: flex-start, $justify-content: start);
    text-align: start;
    @include Custome-Fonts-and-style(400, clamp(10px, 4vw, 15px), #ffffff);

    letter-spacing: 0.3px;
  }

  .login-lable2 {
    @include CustomPosition($justify-content: flex-end);
    @include Custome-Fonts-and-style(400, clamp(10px, 4vw, 15px), #ffffff);
    padding: 2px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.3px;
    cursor: pointer;
  }

  .login-submit {
    width: 90%;
    height: 44px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(90deg, #78c1c2 0%, #2a4e8c 100%);
    margin-top: 3vh;
    text-align: center;
    @include Custome-Fonts-and-style(500, clamp(12px, 5vw, 18px), #ffffff);
    letter-spacing: 1px;
  }

  .policy-checkbox {
    @include CustomPosition();
    text-align: start;
    gap: 16px;
    margin-top: 10%;

    div {
      @include Custome-Fonts-and-style(500, clamp(11px, 2vw, 12px), white);

      letter-spacing: 0.25px;
    }
  }
}

@media screen and (max-width: 767px) {
  .login-form-continer {
    width: 85%;
  }
}

//tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .login-form-continer {
    width: 70%;
    height: 60%;
  }
}

//desktop
@media screen and (min-width: 1023px) {
}
