.diagram-component {
  width: 100%;
  height: 70vh;
  border: solid 1px black;
  background-color: #34343c;
  border-radius: 3vh;
}
.diagram-component .gojs-default-content {
  display: none; /* Replace with the actual class or ID */
}
