@mixin CustomeAppContentDesign(
  $color,
  $font-family,
  $font-size,
  $font-style,
  $font-weight,
  $line-height,
  $letter-spacing: 0,
  $margin-top: 0
) {
  letter-spacing: $letter-spacing;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}
.app-content {
  h2 {
    @include CustomeAppContentDesign(
      var(--bs-gray-800),
      Poppins,
      "",
      // clamp(2rem, 4vw, 4.5rem),
      // 8vw,
      normal,
      800,
      normal
    );
  }
  p {
    @include CustomeAppContentDesign(
      #393939,
      Poppins,
      "",
      // clamp(18px, 3vw, 30px),
      normal,
      500,
      normal,
      $margin-top: 2vh
    );

    text-align: center;
  }
}

// @media (max-width: 991.98px) {
//   .windo-design {
//     display: none !important;
//   }
// }
