@mixin CustomeAppFeaturesStyle($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: normal;
  font-weight: $font-weight;
}
.appinstruction-content {
  > p:nth-child(1) {
    @include CustomeAppFeaturesStyle(
      #929292,
      Inter,
      clamp(20px, 5vw, 30px),
      600
    );
  }

  > p:nth-child(2) {
    @include CustomeAppFeaturesStyle(
      #363636,
      Poppins,
      clamp(22px, 6vw, 45px),
      700
    );

    letter-spacing: 1px;
  }
  > p:nth-child(3) {
    @include CustomeAppFeaturesStyle(
      #5d5d5d,
      Poppins,
      clamp(12px, 4vw, 25px),
      400
    );

    letter-spacing: 1px;
  }
}

.appinstruction-steps {
  @include CustomeAppFeaturesStyle(#000000, Inter, clamp(10px, 3vw, 22px), 600);
}

@media (max-width: 991.98px) {
  .app-working-steps {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // margin-left: 0;
    // grid-gap: 2rem;
    // width: 100%;
  }
  // .mobile-appinstruction {
  //   margin-left: 0 !important;
  // }
}
