.fooder-col {
  color: #5d5d5d;
  font-family: Poppins;
  font-size: clamp(14px, 5vw, 20px);
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  line-height: normal;
}
.fooder-login {
  color: #0e42c8;
  font-family: Poppins;
  font-size: clamp(16px, 5vw, 20px);
  font-style: normal;
  font-weight: 600;

  cursor: pointer;
}
.fooder-continer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}
//Smartphone
@media screen and (max-width: 767px) {
  .fooder-continer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
}
//tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .fooder-continer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}
//desktop
@media screen and (min-width: 1023px) {
  .fooder-continer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
}
