.fooder-col {
  color: #5d5d5d;
  font-family: Poppins;
  font-size: clamp(14px, 5vw, 20px);
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  line-height: normal;
}
.fooder-login {
  color: #0e42c8;
  font-family: Poppins;
  font-size: clamp(16px, 5vw, 20px);
  font-style: normal;
  font-weight: 600;

  cursor: pointer;
}
